.saved-movies {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1 1 auto;
}

.saved-movies__saveddevider {
  height: 65px;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 980px) {
  .saved-movies__saveddevider {
    margin-top: -94px;
  }
}
