.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #202020;
}

.header__main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  max-width: 100%;
  padding: 18px 70px;
}

.header_type_promo {
  background-color: #073042;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding: 0px 70px;
}

.header__item {
  list-style-type: none;
}

.header__logo {
  display: flex;
  margin: 18px 0;
  width: 38px;
  height: 38px;
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.header__logo {
  transition: all 0.3s ease;
}

.header__logo:hover {
  transform: rotate(45deg);
}

.header__list-logo {
  margin: 0;
  padding: 0;
}

.header__list-logo {
  padding: 0px;
  margin: 0px;
}

.header__list-login {
  display: flex;
}

.header__signup {
  margin: 29px 30px 29px 0;
  text-decoration: none;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__signup_active {
  font-weight: 500;
}

.header__signin {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  width: 76px;
  height: 32px;
  background-color: #3ddc84;
  border-radius: 3px;
  text-align: center;
  padding: 8px 20px;
  box-sizing: border-box;
}

.header__signin_active {
  font-weight: 500;
}

.header__overlay {
  display: none;
  visibility: hidden;
}

.header__navpanel {
  display: none;
}

@media screen and (max-width: 1023px) {
  .header__container {
    padding: 0px 35px;
  }
}

@media screen and (max-width: 770px) {
  .header__logo {
    margin: 0;
  }

  .header__overlay {
    display: block;
    position: absolute;
    top: -18px;
    left: -30px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }

  .header__overlay_active {
    opacity: 1;
    visibility: visible;
  }


  .header__container {
    padding: 18px 35px;
  }

  .header__navpanel {
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: inherit;
    z-index: 3;
  }

  .header__navpanel-inner {
    height: 44px;
    width: 44px;
    position: absolute;
    top: -11px;
    right: -5px;
    transition: transform 0.2s ease;
    cursor: pointer;
    background-image: url("../../images/icon__NavPanel.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header__navpanel-inner_active {
    transform: rotate(180deg);
    background-image: url("../../images/close__navPanel.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 26px;
    top: -1px;
    right: -9px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 18px 14px;
  }

  .header__container {
    padding: 0;
  }

  .header__logo {
    width: 38px;
    height: 38px;
  }

  .header__signin {
    padding: 6px 13px;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  .header__signup {
    margin: 29px 13px 29px 0;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  .header__overlay {
    display: block;
  }

  .header__overlay_active {
    opacity: 1;
    visibility: visible;
  }

  .header__navpanel {
    display: block;
    width: 32px;
    height: 32px;
  }

  .header__navpanel-inner {
    top: -1px;
    left: -28px;
    height: 37px;
    width: 37px;
  }

  .header__navpanel-inner_active {
    top: -8px;
    left: -21px;
    height: 33px;
    width: 33px;
  }
}
