.search__checkbox {
  display: flex;
  justify-content: left;
  align-items: center;
}

.search__text {
  margin: 0;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.search__label {
  display: none;
}

.search__checkbox-label {
  position: relative;
  display: block;
  height: 20px;
  width: 36px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease-in;
  background-color: #343434;
  margin-right: 14px;
  margin-left: 6px;
}

.search__checkbox-label:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: left 0.3s ease-in, transform 0.3s ease-out;
  background: #fff;
  border: 1px solid #FFFFFF;
}

.search__label:checked+.search__checkbox-label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
  background: #2BE080;
}

.search__label:checked+.search__checkbox-label {
  background: #343434;
}

@media screen and (max-width: 631px) {
  .search__checkbox {
   /* position: relative;
    top: 91px;
    right: 94px;*/
    position: absolute;
    top: 272px;
    right: 27%;
  }

  .search__text {
    font-size: 11px;
  }
}
