.checkbox {
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-left: 1px solid #424242;
  margin: 16px 0 16px 0;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}

.checkbox__inner {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-left: 79px;
  padding-right: 30px;
}

.checkbox__inner:before {
  display: block;
  content: '';
  position: absolute;
  right: 160px;
  top: -1px;
  width: 36px;
  height: 20px;
  background-color: #343434;
  border-radius: 18px;
  transition: background-color 0.3s;
}

.checkbox__inner:after {
  display: block;
  content: '';
  position: absolute;
  left: 34px;
  top: 1px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #F5F5F5;
  transition: background-color 0.3s, left 0.3s;
  border: 1px solid #FFFFFF;
}

.checkbox__input:checked+.checkbox__inner::before {
  background-color: #343434;
}

.checkbox__input:checked+.checkbox__inner::after {
  left: 46px;
  background-color: #2BE080;
}

@media screen and (max-width: 770px) {
  .checkbox__inner {
    padding-left: 0;
    padding-right: 44px;
  }

  .checkbox__inner:after {
    left: 132px;
    top: 5px;
    width: 8px;
    height: 8px;
  }

  .checkbox__inner:before {
    width: 34px;
    height: 19px;
  }

  .checkbox__input:checked+.checkbox__inner::before {
    background-color: rgba(43, 224, 128, 1);
  }

  .checkbox__input:checked+.checkbox__inner::after {
    left: 146px;
    background-color: rgba(255, 255, 255, 1);
  }
}

@media screen and (max-width: 400px) {
  .checkbox {
    display: inline-block;
    align-items: center;
    border-left: none;
  }


  .checkbox__inner {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-right: 48px;
    position: absolute;
    bottom: -65px;
    right: 29px;
  }

  .checkbox__inner:after {
    left: -45px;
    ;
  }

  .checkbox__input:checked+.checkbox__inner::after {
    left: -30px;
  }
}