.search-container {
  max-width: 1280px;
  width: 100%;
  padding: 70px 70px 69px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.search__input-block {
  display: flex;
  height: 100%;
  width: calc(90% - 90px);
  align-items: center;
}

.search__form {
  display: flex;
  max-width: 1140px;
  min-width: 281px;
  height: 72px;
  width: 100%;
  border-radius: 9px;
  background: #2F2F2F;
}

.search__input-box {
  background-image: url('../../images/icon-search.svg');
  background-color: #2F2F2F;
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: 19px 50%;
  border: none;
  border-radius: 9px;
  outline: none;
  height: 100%;
  width: calc(100% - 175px);
  padding: 0 0 0 63px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: #959595;
}

.search__input-box:focus {
  color: #fff;
  outline: 1px solid #44584a;
}

.search__input-box::placeholder {
  color: #8b8b8b;
}

.search__button {
  border: none;
  background-color: #4285f4;
  box-sizing: border-box;
  color: #FFFFFF;
  width: 58.65px;
  height: 34px;
  border-radius: 48px;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.search__button:hover {
  opacity: 0.8;
}

.search-form__divider {
  display: block;
  position: relative;
  width: 1px;
  height: 40px;
  background-color: #E8E8E8;
  margin-left: 27px;
  margin-right: 29px;
}

@media screen and (max-width: 1023px) {
  .search {
    padding: 73px 30px 61px;
  }

  .search__input-box {
    width: calc(100% - 155px);
  }

  .search__input-block {
    width: calc(100% - 194px);
  }

  .search-container {
    padding: 80px 30px 109px;
  }
}

@media screen and (max-width: 631px) {

  .search {
    padding: 85px 14px 50px;
  }

  .search-container {
    padding: 80px 10px 109px;

  }

  .search__form {
    justify-content: flex-start;
  }

  .search__input-block {
    width: calc(100% - 90px);
    justify-content: space-between;
  }

  .search__input-box {
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 1.22;
    padding-left: 10px;
    justify-content: space-between;
    background-image: none;
  }

  .search__button {
    position: relative;
    top: 1px;
    left: 70px;
    width: 75px;
  }

  .search__form::before {
    content: none;
  }

}

