.login {
  width: 396px;
  margin: 0 auto;
  padding-top: 70px;
}

.login__saveddevider {
    height: 47px;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 440px) {
  .login {
    width: 260px;
    padding-top: 57px;
  }
}
